@import "tailwindcss";
@import "./styles/reset.css";

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

img {
  max-width: 100%;
  display: block;
}

@theme {
  --color-mygreen: #27ae60;
  --color-green-hover: #08CB00;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 12s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}