@import "tailwindcss";
@import "./styles/reset.css";

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

img {
  max-width: 100%;
  display: block;
}

@theme {
  --color-mygreen: #27ae60;
  --color-green-hover: #08CB00;
}

@keyframes moveLight {
  0% {
    transform: translateX(-100%) rotate(15deg);
    opacity: 0;
  }

  30% {
    opacity: 0.5;
  }

  50% {
    transform: translateX(100%) rotate(15deg);
    opacity: 0.6;
  }

  100% {
    transform: translateX(150%) rotate(15deg);
    opacity: 0;
  }
}

.moving-light {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.08) 45%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.08) 55%,
      rgba(255, 255, 255, 0) 100%);
  animation: moveLight 8s ease-in-out infinite;
  pointer-events: none;
  mix-blend-mode: overlay;
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}



/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
  /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #171717;
  /* Track background color */
}

::-webkit-scrollbar-thumb {
  background: #27ae60;
  /* Scroll thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #08CB00;
  /* Thumb color on hover */
}

/* For better compatibility with dark mode and Firefox */
html {
  scrollbar-color: #08CB00 #171717;
  /* Thumb color then track color */
  scrollbar-width: thin;
  /* Works for Firefox browsers */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 6s linear infinite;
}
